.block_quickset .mform > .form-group {
    margin-left: 0;
}

#fitem_id_coursevisible .col-md-8,
#fitem_id_gradesvisible .col-md-8,
#fitem_id_submitbutton .col-md-12 {
    padding-left: 0;
}

.block_quickset .row {
	margin-left: initial;
}